* {
  font-family: 'Pretendard';
}
body {
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

div {
  display: flex;
}
.container {
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}
.amount {
  align-items: center;
  /* color */
}
#app {
  display: flex;
  flex-direction: column;
}
.bi {
  font-size: 3rem;
}
span {
  font-style: italic;
  font-size: 50px;
  font-weight: 700;
}
